{% comment %}
  Renders product variant options

  Accepts:
  - product: {Object} product object.
  - option: {Object} current product_option object.
  - block: {Object} block object.


  Usage:
  {% render 'product-variant-options',
    product: product,
    option: option,
    block: block
  %}
{% endcomment %}
{%- liquid
  assign option_current_variant = selected_variant | default: product.selected_or_first_available_variant
  assign product_form_id = 'product-form-' | append: section.id
-%}

{%- for value in option.values -%}
  {%- liquid
    assign has_visible_variant = false
    assign option_disabled = true

    for variant in product.variants
      assign metafield_raw = variant.metafields.custom.hide_on_storefront
      assign hide_value = metafield_raw.value | default: metafield_raw
      assign hide_str = hide_value | append: '' | downcase
      if hide_str == 'true'
        continue
      endif

      case option.position
        when 1
          if variant.option1 == value
            assign has_visible_variant = true
            if variant.available
              assign option_disabled = false
              break
            endif
          endif
        when 2
          if variant.option1 == option_current_variant.option1 and variant.option2 == value
            assign has_visible_variant = true
            if variant.available
              assign option_disabled = false
              break
            endif
          endif
        when 3
          if variant.option1 == option_current_variant.option1 and variant.option2 == option_current_variant.option2 and variant.option3 == value
            assign has_visible_variant = true
            if variant.available
              assign option_disabled = false
              break
            endif
          endif
      endcase
    endfor

    unless has_visible_variant
      continue
    endunless

    case option.position
      when 1
        assign current_value = option_current_variant.option1
      when 2
        assign current_value = option_current_variant.option2
      when 3
        assign current_value = option_current_variant.option3
      else
        assign current_value = option.selected_value
    endcase
  -%}

  {%- if block.settings.picker_type == 'button' -%}
    <input
      type="radio"
      id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
      name="{{ option.name }}"
      value="{{ value | escape }}"
      form="{{ product_form_id }}"
      {% if current_value == value %}
        checked
      {% endif %}
      {% if option_disabled %}
        class="disabled"
      {% endif %}
    >
    {% if option.name == 'Color' %}
    <div>
      <label style="background-image: url({{ value | replace: ' ', '_' | append: '.png' | file_url }})" for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"></label>
      <span class="value-hover">{{ value }}</span>
      <span class="visually-hidden">{{ 'products.product.variant_sold_out_or_unavailable' | t }}</span>
    </div>
    {% else %}
      <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
        {{ value }}
        <span class="visually-hidden">{{ 'products.product.variant_sold_out_or_unavailable' | t }}</span>
      </label>
    {% endif %}
  {%- elsif block.settings.picker_type == 'dropdown' -%}
    <option
      value="{{ value | escape }}"
      {% if current_value == value %}
        selected="selected"
      {% endif %}
    >
      {% if option_disabled -%}
        {{- 'products.product.value_unavailable' | t: option_value: value -}}
      {%- else -%}
        {{- value -}}
      {%- endif %}
    </option>
  {%- endif -%}
{%- endfor -%}
